.create {
  padding: 3%;
  min-height: 71.5vh;
}

.createImg {
  width: 60%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.createForm {
  position: relative;
}

.createFormGroup {
  display: flex;
  align-items: center;
}
.createIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.createInput {
  font-size: 30px;
  width: 100%;
  border: none;
  width: 70vw;
}

.createInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}
.createInput:focus{
    outline: none;
}

.createText{
  font-size: 15px;
}

.createSubmit{
    position: absolute;
    top: 100%;
    margin-top: 20px;
    color: white;
    background-color: teal;
    border: none;border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.addCat{
  position: absolute;
  top: 50%;
  right: 6%;
}

.wid{
  position: absolute;
  height: 20%;
  top: 20%;
  right: 5%;
  width: 150px;
}

.createCategory{
  position: absolute;
  height: 5%;
  top: 50%;
  right: 5%;
  width: 150px;
}
.createCategorybutton{
  position: absolute;
  top: 60%;
  right: 5%;
  width: 150px;
}