.singlePost {
  padding: 2%;
  flex: 7;
}
.singlePostWrapper {
  padding: 0;
}
.singlePostImg {
  width: 50rem;
  height: 30rem;
  border-radius: 10px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}
.singlePostTitle::first-letter {
  text-transform: uppercase;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Verela Round", Arial, Helvetica, sans-serif;
}
.singlePostAuthor {
  margin-left: 5px;
}
.singlePostDesc {
  color: #325c6b;
  font-size: 18px;
  line-height: 25px;
}
.singlePostDesc::first-letter {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  width: 100%;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
.singlePostTitleInput{
  width: 100%;
  border: none;
  padding: 1%;
}
